# <center><font color='blue'>IS 362 Project 1 2020 Fall<center><font>

In [4]:
import pandas as pd
import os

### <font color='blue'>Project Objective<br><font>
    
(1) Create a .CSV file (or optionally, a MySQL database!) that all of the information in the table. You may change the structure of the information as you like.

(2) Read the information from you .CSV file into pandas, and perform analysis to compare the arrival delays for the two airlines

(3) Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your analysis and conclusions.

In [17]:
Alaska_On_Time = pd.read_csv(r'C:\Users\MATTHEWS-PC\Project1.csv', index_col = 0)

In [16]:
Alaska_On_Time.head()

,City,Alaska_On_Time,Alaska_Delayed,AMWest_On_Time,AMWest_Delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,415
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

In [13]:
airline_info['TotalAlaskaArrivals'] = airline_info['AlaskaOnTime'] + airline_info['AlaskaDelay']

airline_info['AlaskaPercentagesOfDelay'] = (airline_info['AlaskaDelay'] / airline_info['TotalAlaskaArrivals']) * 100

airline_info['AlaskaPercentagesOfDelay']

NameError: name 'airline_info' is not defined

In [11]:
[
    "#Alaska arrival delay percentage will be based on the sum of Alaska Arrivals in each city and than divided by the city's delay arrival.\n",
    "\n",
    "airline_arrival_info['Total_Alaska_Arrivals'] = airline_arrival_info['Alaska_On_Time'] + airline_arrival_info['Alaska_Delayed']\n",
    "\n",
    "airline_arrival_info['Alaska_Percentages_Of_Delay'] = (airline_arrival_info['Alaska_Delayed'] / airline_arrival_info['Total_Alaska_Arrivals']) * 100\n",
    "\n",
    "airline_arrival_info['Alaska_Percentages_Of_Delay']

SyntaxError: EOL while scanning string literal (<ipython-input-11-89bfc0bca370>, line 8)